p {
	width:80%;
	word-wrap:break-word;
	font-size:16px;
	text-align:left;
	text-indent:40px;
}

pre {
	width:80%;
	font-size:14px;
	text-align:left;
	background-color: #eee;
	border: 1px solid #999;
	display: block;
}
